{{ block "base" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="SMS and Ordering that works with Fred" />
        <script src="/static/htmx.min.js"></script>
        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
        <meta
        	name="htmx-config"
        	content='{
                "responseHandling":[
                    {"code":"422", "swap": true, "error": false},
                    {"code":"[23]..", "swap": true},
                    {"code":"[45]..", "swap": false, "error":true},
                    {"code":"...", "swap": true}
                ]
            }'
        />
        <title>{{ template "title" . }}</title>
    </head>
    <body>
      {{ template "nav" . }}
      {{ template "content" . }}
    </body>
</html>
{{ end }}
